<p>forgot-password works!</p><div class="login">
  <div class="form">
    <p>welcome</p>
    <form  class="login-form" >
      <div *ngIf="step === 1">
      <input [(ngModel)]="ForgotPassObj.email" name="email" type="email" placeholder="enter email" >
      <button   class="button"  (click)="forgotpass()">{{isLoading?'Sending..':'Send Otp'}}</button>
      <button   class="button" (click)="login()"  >login</button>
      </div>
      <div   *ngIf="isOtpVissible || step ===2">
      <input [(ngModel)]="ResetPassObj.email" name="email" type="email" placeholder="enter email" >
      <input  [(ngModel)]="ResetPassObj.otpCode" name="Otp" type="otp" placeholder="enter Otp" autocomplete="new-otp">
      <input [(ngModel)]="ResetPassObj.newPassword"  name="newPassword" type="newPassword" placeholder="enter New Password" autocomplete="new-newPassword">
      <button   class="button"  (click)="resetPassword()"> {{ isLoading ? 'Processing...' : 'Reset Password' }}</button>
      <button   class="button" (click)="login()">login</button>
      </div>
    </form>  
  </div>
</div>