<p>accounts list</p>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary p-sm-2" data-bs-toggle="modal" data-bs-target="#accountModal">+Add
        Account</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th >CustomeId</th>
            <th >AccountNo</th>
            <th >CustomerName</th>
            <th >CustomerEmail</th>
            <!-- <th >opendOnUtc</th>
            <th >closedOnUtc</th> -->
            <!-- <th scope="col">rowVersion</th> -->
             <th >Update</th>
             <th  >Delete</th>
        </tr>
    </thead>
    <tbody>
        
            <tr *ngFor="let w of withcustomer let i = index ">
                 <td>{{ i + 1 }}</td> 
                <td  scope="row">{{w.customerId}}</td>
                <td scope="row">{{w.accountNo}}</td>
                <td scope="row">{{w.customerName}}</td>
                <!-- <td  scope="row">{{a.balance}}</td> -->
                <td  scope="row">{{w.customerEmail}}</td>
                <!-- <td  scope="row">{{a.opendOnUtc}}</td>
                <td  scope="row" >{{a.closedOnUtc}}</td> -->
                <td><button class="btn btn-primary">update</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
                <!-- <td  scope="row">{{a.rowVersion}}</td>            -->
        </tr>
    </tbody>
</table>

<div class="modal " id="accountModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isEditMode? 'Update Customer' : 'Add Customer'}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label>AccountNo</label>
                            <input type="text" [(ngModel)]="newAccount.accountNo" name="AccountNo" class="form-control" />
                        </div>       
                        <div class="mb-3">
                            <label>Customer Name</label>
                            <input type="text" [(ngModel)]="newAccount.customerId" name="CustomerName" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>Customer Email</label>
                            <input type="email" [(ngModel)]="newAccount.customerId" name="CustomerEmail" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>