
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary p-sm-2" data-bs-toggle="modal" data-bs-target="#transactionModal">+Tansfer Money</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<table class="table">
    <thead>
        <tr>
            <th>SrNo</th>
            
            <th>Account No</th>
            <th>Account Holder </th>
            <th>Type</th>
            <th>Balance</th>
            <th>Amount</th>
            <th>FromAccount</th>
            <th>ToACcount</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let t of Transfers let i = index ">
            <td>{{ i + 1 }}</td>
            <!-- <td scope="row">{{w.customerId}}</td> -->
             
            <td scope="row">{{t.accountNo}}</td>
            <td scope="row">{{t.accountHolderName}}</td>
            <td scope="row">{{t.accountType}}</td>
            <td scope="row">{{t.balance}}</td>
            <td scope="row">{{t.amount}}</td>
            <td scope="row">{{t.fromAC}}</td>

            <td  scope="row">{{t.toAC}}</td>
            <!-- <td  scope="row">{{a.opendOnUtc}}</td>
                <td  scope="row" >{{a.closedOnUtc}}</td> -->
            <td><button   class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#accountModal"  >update</button></td>
            <td><button  class="btn btn-danger">Delete</button></td>
            <!-- <td  scope="row">{{a.rowVersion}}</td>            -->
        </tr>
    </tbody>
</table>


<div class="modal " id="transactionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isEditMode? 'Update Customer' : 'Add Customer'}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="customer">From AccountNo</label>
                            <select [(ngModel)]="transfer.fromAccountId" name="fromAccountId" id="fromAccountId"
                                class="form-control">
                                <option value="" disabled selected>Select Account</option>
                                <option  *ngFor="let a of getAccountsDto" [value]="a.id">
                                    {{a.customerName}}:({{a.accountNo}})
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">  
                            <label for="customer">To AccountNo </label>
                            <select [(ngModel)]="transfer.toAccountId" name="toAccountId" id="toAccountId"
                                class="form-control">
                                <option value="" disabled selected>Select Account</option>
                                <option  *ngFor="let a of getAccountsDto" [value]="a.id">
                                    {{a.customerName}}:({{a.accountNo}})
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Amount</label>
                            <input type="number" [(ngModel)]="transfer.amount" name="amount" class="form-control" />
                        </div>  
                        <!-- <div class="mb-3">
                            <label>Currency</label>
                            <input type="text" [(ngModel)]="transfer.currency" name="currency" class="form-control" />
                        </div> -->
                        <div class="mb-3">
                            <label>Refrence</label>
                            <input type="text" [(ngModel)]="transfer.refrence" name="refrence" class="form-control" />
                        </div>     
                    </form>
                </div>
                <div class="modal-footer">
                <button type="submit"  class="btn btn-primary" (click)="SendMoney()" data-bs-dismiss="modal">{{ isEditMode? 'Update' : 'Save' }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>