USE [BankDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAccountNoWithTransaction]    Script Date: 9/22/2025 4:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[GetAccountNoWithTransaction]
as begin
select
t.Id,
a.AccountNo,
c.Name as AccountHolderName,
a.AccountType,
a.Balance,
t.Amount as Amount,
	(select AccountNo from Accounts where id=t.FromAccountId) as fromAC,
	(select AccountNo from Accounts where id=t.ToAccountId) as ToAC
from Transfers t
join Accounts a on t.FromAccountId = a.Id
join Customers c on a.CustomerId=c.id
end
