
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="navbar-brand">
    <h4>Banking App</h4>
  </div>
  <div>
  </div>
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="customer" routerLinkActive  #rla1="routerLinkActive" [class.fw-bold]="rla1.isActive">Customer</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "  routerLink="account" routerLinkActive #rla2="routerLinkActive"
            [class.fw-bold]="rla2.isActive">Account</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="transfer" routerLinkActive #rla3="routerLinkActive"
            [class.fw-bold]="rla3.isActive">Transactions</a>
        </li>
      </ul>
    </div>
    <div>
      <h6>Welcome,{{CustomerName}}&nbsp;&nbsp;&nbsp;&nbsp;</h6>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button (click)="Logout()" class="btn btn-primary">Logout</button>
        </li>
      </ul>
    </div>
</nav>
<hr>
<router-outlet></router-outlet>