<div class="login">
  <div class="form">
    <p>welcome</p>
    <form *ngIf="!showRegisterForm" class="login-form">
      <input  name="email" type="email" placeholder="email">
      <input  name="password"  type="password" placeholder="password" required />
      <button   class="button"  >login</button>
    
      <h6>don't have an account click on register?</h6>
      <button (click)="ToggleForm()" > Register </button>
      
    </form>  
    <form *ngIf="showRegisterForm" #form="ngForm" class="register-form">
      <input [(ngModel)]="regObj.name" #name="ngModel" required name ="username" type="text" placeholder="username">
      <div class="text-danger">@if(name.errors?.['required']){
        <span>This is required</span>
        }</div>
      <input [(ngModel)]="regObj.email" #email="ngModel" required name="email" type="email" placeholder="email">
      <div class="text-danger">@if(email.errors?.['required']){
        <span>This is required</span>
        }</div>
      <input [(ngModel)]="regObj.password" #pwd="ngModel" required name="password"  type="password" placeholder="password" >
        <div class="text-danger">@if(pwd.errors?.['required']){
        <span >This is required</span>
        }</div>
      <h6>don't have an account click on register?</h6>
      <button  type="button" [disabled]="form.invalid" (click)="ToggleForm()" (click)="onRegister()" > Register </button>
      
      
    </form>  
  </div>
</div>